@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

th,
td {
  padding: 0.5rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.list-section {
  width: 50vw;
}

.table-container {
  height: 80vh;
  overflow-y: auto;
  padding-top: 0;
  border: 1rem solid white;
  border-right: none;
  background-color: white;
}

th {
  background-color: #5c95a0;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

table {
  border: 1px solid #ddd;
  max-width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.show-more-btn {
  width: 100%;
  background: #fffffffa;
  border: 1px solid rgb(192, 190, 190);
  font-family: "Open Sans", sans-serif;
}
.show-more-btn:hover {
  width: 100%;
  background: #f2f2f2;
}
